<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">   
    <link href="avatar.css" rel="stylesheet" /> 
    <link rel="icon" type="image/x-icon" href="./images/favicon.png">
    <title>Avatar</title>
</head>
<body>
    <div class="container marketing my-5">
    
        <h1 style="font-size: 3em; text-align: center;" class="pb-2 mt-3 border-bottom glow-pink">Choose Your Avatar!</h1>
        <div class="row justify-content-center">
            <div class="col-lg-2 d-flex flex-column align-items-center justify-content-center text-center my-5">
                <button class="btn btn-link" id="girl1">
                    <img class="bd-placeholder-img rounded-circle border border-light" width="140" height="140" src="https://video-public.canva.com/VAEQmOUWL4U/v/ba57982720.gif" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                </button>
            </div>
            
            <div class="col-lg-2 col-md-3 d-flex flex-column align-items-center justify-content-center text-center my-5">
                <button class="btn btn-link" id="girl2">
                    <img class="bd-placeholder-img rounded-circle border border-light" width="140" height="140" src="https://video-public.canva.com/VAEQmOVbbGA/v/67e497082e.gif" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                </button>
            </div>

            <div class="col-lg-2 col-md-3 d-flex flex-column align-items-center justify-content-center text-center my-5">
                <button class="btn btn-link" id="girl3">
                    <img class="bd-placeholder-img rounded-circle border border-light" width="140" height="140" src="https://video-public.canva.com/VAEQmNlkKCY/v/68dead7f5a.gif" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                </button>
            </div>

            <div class="col-lg-2 col-md-3 d-flex flex-column align-items-center justify-content-center text-center my-5">
                <button class="btn btn-link" id="girl4">
                    <img class="bd-placeholder-img rounded-circle border border-light" width="140" height="140" src="https://video-public.canva.com/VAEQmFKLq7g/v/b282a9300e.gif" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                </button>
            </div>

            <div class="col-lg-2 col-md-3 d-flex flex-column align-items-center justify-content-center text-center my-5">
                <button class="btn btn-link" id="girl5">
                    <img class="bd-placeholder-img rounded-circle border border-light" width="140" height="140" src="https://video-public.canva.com/VAEQmJgZu3o/v/5d647bcf68.gif" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                </button>
            </div>
            
            <div class="col-lg-2 col-md-3 d-flex flex-column align-items-center justify-content-center text-center my-5">
                <button class="btn btn-link" id="girl6">
                    <img class="bd-placeholder-img rounded-circle border border-light" width="140" height="140" src="https://video-public.canva.com/VAEQmAmC14g/v/dad48e7ad3.gif" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                </button>
            </div>

            <div class="col-lg-2 col-md-3 d-flex flex-column align-items-center justify-content-center text-center my-5">
                <button class="btn btn-link" id="boy1">
                    <img class="bd-placeholder-img rounded-circle border border-light" width="140" height="140" src="https://video-public.canva.com/VAEQmArRH84/v/018f24ba5f.gif" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                </button>
            </div>

            <div class="col-lg-2 col-md-3 d-flex flex-column align-items-center justify-content-center text-center my-5">
                <button class="btn btn-link" id="boy2">
                    <img class="bd-placeholder-img rounded-circle border border-light" width="140" height="140" src="https://video-public.canva.com/VAEQmAXi56A/v/09e2624269.gif" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                </button>
            </div>

            <div class="col-lg-2 col-md-3 d-flex flex-column align-items-center justify-content-center text-center my-5">
                <button class="btn btn-link" id="boy3">
                    <img class="bd-placeholder-img rounded-circle border border-light" width="140" height="140" src="https://video-public.canva.com/VAEQmCtLAn4/v/4b3fcb3be3.gif" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                </button>
            </div>
            
            <div class="col-lg-2 col-md-3 d-flex flex-column align-items-center justify-content-center text-center my-5">
                <button class="btn btn-link" id="boy4">
                    <img class="bd-placeholder-img rounded-circle border border-light" width="140" height="140" src="https://video-public.canva.com/VAEQmOHaXVk/v/b07de90908.gif" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                </button>
            </div>

            <div class="col-lg-2 col-md-3 d-flex flex-column align-items-center justify-content-center text-center my-5">
                <button class="btn btn-link" id="boy5">
                    <img class="bd-placeholder-img rounded-circle border border-light" width="140" height="140" src="https://video-public.canva.com/VAEQmG-3IlU/v/fd86b2fcbe.gif" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                </button>
            </div>

            <div class="col-lg-2 col-md-3 d-flex flex-column align-items-center justify-content-center text-center my-5">
                <button class="btn btn-link" id="boy6">
                    <img class="bd-placeholder-img rounded-circle border border-light" width="140" height="140" src="https://video-public.canva.com/VAEQmKGY3SE/v/f94cd8057f.gif" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                </button>
            </div>
        </div> 
        
    <script src="avatar.js"></script>
</body>
</html>